<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>ListOfGrocery</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-checkbox ></ion-checkbox>
      <ion-card-title>Product-Name</ion-card-title>
      <input type="text">
     
      <label for="">Quantity</label>
      <input type="number">

      <label for="">Amount</label>
      <input type="number">

      <label for="">Date</label>
      <input type="date"><br>

      
     
    </ion-card-header>

  </ion-card >
  <ion-card>
    <ion-card-header>
      <ion-checkbox ></ion-checkbox>
      <ion-card-title>Product-Name</ion-card-title>
      <input type="text">
     
      <label for="">Quantity</label>
      <input type="number">

      <label for="">Amount</label>
      <input type="number">

      <label for="">Date</label>
      <input type="date"><br>

      
     
    </ion-card-header>

  </ion-card >
  <input style="margin-left: 40%;" type="button" value="Enter">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title  size="large">ListOfGrocery</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
